body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #F2FFFC;
}
main h1{
    font-size: 60px;
    background-color: #851944;
    color: #FFF;
    text-align: center;    
    font-family: "Open Sans Condensed";
    padding: 10px;
    margin: 0px;
}

main a{
    color: #851944;
}

h2{
    font-size: 40px;    
    font-family: "Open Sans Condensed";
}

p{
    text-align: justify;
    font-family: "Crimson Text";
}

blockquote{
    background-color: #D9E5E3;
    padding: 10px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0px;
    box-sizing: border-box;
}

aside{
    background-color: #3c1d3d;
    color: #F2FFFC;
}

aside a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}

footer{
    background-color: #000;
    color: #F2FFFC;
}

nav a{
    color: #F2FFFC;
}